#logo{
    display: block;
    width: 100%;
    animation: fadeIn 1.2s ease;
    transition: all 0.5s ease;
}    
#logo:hover{
    scale: 1.1;
}
#logo-area {
    display: block;
    width: 20%;
    margin: 3% auto;
}

#logo-area a{
    display: block;
}

img{
    color: white;
}
#social-link{
    color: turquoise;
}

.link-small{
    color: gold;
}

.no-follow{
    text-decoration: underline;
}

.no-follow:hover{
    cursor: pointer;
}

.song-grid{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.song-card{
    background: rgba(225, 238, 234, 0.05);
    border: 1px solid rgba(10, 253, 253, 0.692);
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    text-align: center ;
    transition: all 0.1s ease;
}

.song-card:hover{
    box-shadow: 0px 0px 5px cyan;
}

.container{
    text-align: center;
    padding-top: 25px;
    max-width: 900px;
    margin: 0 auto;
}

.song-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.song-card h4 { margin: 5px 0; color: #fff; }
.song-card p { font-size: 0.8em; color: #aaa; }