body{
    background-color: rgb(1, 1, 19);
    color: rgb(233, 235, 240);
    border: 2px double rgb(5, 100, 100);
    min-height: 100vh;
    background: linear-gradient(135deg, #010103, #010343);
}
.container{
    text-align: center;
    padding-top: 100px;
}
.links a {
    display: inline-block;
    margin: 10px 15px;
    text-decoration: none;
    color: #051013;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: rgb(226, 225, 214);
}

.h2{
  font-weight: 400;
  color: #cccccc;
}
.pikaa{
    width: 200;
}

.footer{
    margin-top: 150px;
    color: #888;
    font-size: 0.9em;
    position: fixed;
    width: 100%;
}

a:link {
color: rgb(161, 98, 139); /* Unvisited link */

}
a:visited {
color: rgb(121, 118, 203); /* Visited link */
}
a:hover {
color: rgb(105, 185, 213); /* Mouse over link */
transform: scale(1.05);
padding: 10px, 20px;
}
a:active {
color: rgb(68, 216, 202); /* Selected link */
}

.logo{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 180px;
    cursor: pointer;
    transition: opacity 0.8s ease-in-out;
}
.logo:hover{
    opacity: 0.5;
    transform:scale(1.10) ;
}

a:link{
color: rgb(228, 220, 225);
}