body {
    border: 2px double rgb(5, 100, 100);
    min-height: 50vh;
    background: linear-gradient(135deg, #010103, #010343);
    font-family: sans-serif;
    padding-bottom: 95px;
    color: white; 
}

.container {
    
    text-align: center;
    padding-top: 0px;
    max-width: 100%;
    margin-top: 0px;
    padding-bottom: 0px;
}

/* Header Styles */
.h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: rgb(226, 225, 214);
}


.h2 {
    font-weight: 400;
    color: #cccccc;
    margin-bottom: 30px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    width: 200px; 
    cursor: pointer;
    transition: opacity 1s ease-in-out;
}

.logo:hover {
    opacity: 0.5;
    transform: scale(1.10);
}

/* Navigation Container */
.navigation {
    justify-content: stretch;
    gap: 0px;
    margin-bottom: 60px;
    margin-top: 0;
    border-top: 1px solid rgb(10, 253, 253);
    border-bottom: 1px solid rgb(10, 253, 253);
    display: flex;
}

.navigation a {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(71, 11, 11);
    transition: color 0.3s, transform 0.3s;
    font-size: 24px;
    padding: 20px 20px; 
    color: white; 
    flex-grow: 1;
    text-align: center;
}

.navigation .feedback{
    background-color: rgb(158, 80, 16);
}

/* Hover effects */
.navigation a:visited { color: rgb(218, 199, 35); }
.navigation a:hover   { color: rgb(232, 224, 224); transform: scale(1.05); }
.navigation a:active  { color: rgb(21, 255, 200); }

.btn-main {
    
    border-top: 2px solid rgb(255, 246, 246); 
    padding: 10px 20px; 
    border-radius: 20px;
    text-decoration: none;
    color: rgb(191, 255, 0);
    transition: 0.5s;
    background-color: #2121ff;
}
.btn-main a:visited {
    color: rgb(214, 48, 48)
}
.btn-main:hover {
    background-color: rgba(86, 193, 254,);
    opacity:0.6;
    color:rgb(15, 241, 166);
}

.link-small {
    font-size: 0.8em;
    color: rgb(158, 111, 143);
}
.link-small a {
    color: inherit;
    display: inline-block;
    transition: 0.5s;
}
.link-small a:visited{
    color: rgb(206, 206, 224);
}
.link-small a :hover {
    color: aliceblue;
    transform: scale(1.05);
}
/* Grid Lagu (Featured Songs) */
.song-grid {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.song-card {
    background: rgba(225, 238, 234, 0.05);
    border: 1px solid rgba(10, 253, 253, 0.692);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    text-align: center ;
}

.song-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.song-card h4 { margin: 5px 0; color: #fff; }
.song-card p { font-size: 0.8em; color: #aaa; }

/* Feedback  */
.feedback-section {
    background: rgba(104, 116, 210, 0.866);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 600px;
    border: 1px dashed rgb(194, 209, 209);
}

.feedback-quote {
    font-style: italic;
    color: #ccc;
    font-size: 1.1em;
}

.feedback-user {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(208, 109, 84);
}

/* Footer */
.footer {
    text-align: center;
    padding: 30px 0;
    color: #888;
    font-size: 0.9em;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: relative; 
    top: 100px;
}

.footer a { text-decoration: none; color: #aaa; }