body {
    border: 2px double rgba(0, 180, 180, 0.6);
    min-height: 50vh;
    background: linear-gradient(135deg, #010103, #0a0f59);
    color: white;
    text-align: center;
}

#main-header {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

#main-header div {
    width: 50%;
    font-size: 20px;
    padding: 1% 0px;
    text-align: center;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(2px);
    transition: 0.25s;
    font-weight: 600;
}

#main-header div:hover {
    cursor: pointer;
    filter: brightness(110%);
    background-color: red;
}

#contact-menu {
    background: rgba(30, 80, 255, 0.9);
}

#credits-menu {
    background: rgba(0, 200, 90, 0.9);
}

#main-logo-container {
    width: 30%;
    height: fit-content;
    display: block;
    margin: 3% auto;
}

#main-logo-container img {
    width: 100%;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.5));
    transition: all 0.5s ease;
}

#main-logo-container img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#go-to-list-button {
    text-align: center;
    color: #f0f0f0;
    width: 50%;
    display: block;
    background: linear-gradient(135deg, #785bff, #4a2fff);
    text-decoration: none;
    padding: 10px 0px;
    font-size: 22px;
    margin: 0px auto;
    border-radius: 100px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}

#go-to-list-button:hover {
    transform: translateY(-3px);
    filter: brightness(110%);
    cursor: pointer;
}

.song-list-row {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.song-container {
    margin: 5%;
    border: 2px solid cyan;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(2px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.4);
    transition: 0.25s;
    overflow: hidden;
}

.song-container img{
    height: 100%;
}

.song-container:hover {
    transform: scale(1.5);
    border-color: #00faff;
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    padding: 25px 0;
    color: #ccc;
    font-size: 14px;
    background-color: #0d0d0d;
    border-top: 1px solid #222;
}

.footer .powered {
    opacity: 0.6;
}

.footer a {
    color: #64b5f6;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-10px); }
    to { opacity: 1; transform: translate(0); }
}

body *{
    animation: fadeIn 0.8s ease;
}