body{
    background-color: black;
    color: lime;
    border: 2px double cyan;
}

.pikaa{
    width: 200;
}

a:link {
color: orange; /* Unvisited link */
}
a:visited {
color: goldenrod; /* Visited link */
}
a:hover {
color: gold; /* Mouse over link */
}
a:active {
color: orangered; /* Selected link */
}