#logo{
    display: block;
    width: 100%;
    animation: fadeIn 1.2s ease;
    transition: all 0.5s ease;
}    
#logo:hover{
    scale: 1.1;
}
#logo-area {
    width: 12%;
    margin-top: 3%;
    margin-left: 3%;
}

#logo-area a{
    display: block;
}

img{
    color: white;
}
#social-link{
    color: turquoise;
}

